<header>       
        <div class="rainbow"><img src="./assets/image/rainbow.png" id="rainbow"></div>
            <div class="menu">
                <img src="./assets/image/background.png">
                <div class="menu-items">
                    <a href="/"><img class="logo" src="./assets/image/logo-capes-periodicos.png" alt="periodicos"></a>
                    <div class="menu-login">
                        <a href="#" id="createAccount">Criar Conta</a>
                        <a href="#" id="Login">Login</a>
                    </div> 
                </div>
            </div>
</header>