header{
    height: 132px;
}

.menu-items{
    margin-top: 34px;
    width: 1350px;
}

section button#btn-input2{
    padding-left: 20px;
    cursor: pointer;
    background-color: var(--color-gray-white);
    display: flex;
    margin-top: -70px;
    align-items: center;
    gap: 20px;
    border: none;
    border-radius: 57px;
    height: 39px;
    width: 730px;
    z-index: 1;
}



button#btn-input2 input{
    font-family: 'Montserrat';
    color: #999999;
    border: none;
    background: none;
    margin-top: 5px;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 20px;
}

#btn-input2 img{
    margin: 0;
    scale: 0.8;
}

input:focus {
    outline: none;
    border: none;
}

input::placeholder {
    padding-left: -10px;
    padding-top: 20px;
    color: #999999;
    font-size: 20px;
    font-weight: 700;
}


section .input-pesquisa p span{
    cursor: pointer;
    color: var(--color-black);
}

.sugestions{
    display: none;
}

#mostrarObras{
    margin-top: 82px;
    width: 1281px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#mostrarObras #title{
    margin-left: 43px;
    margin-bottom: 12px;
    color: #1E2144;
    font-family: Montserrat;
    font-size: 19.007px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contain-text{
    width: 1281px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D9D9D9;
}

#Estatisticas{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 182px;
    width: 1281px;
    margin-bottom: 40px;

}

.contain-est{
    height: 851px;
    width: 245px;
    border-radius: 46px;
    background: #333CA2;
}

.artigos{
    display: flex;
    flex-direction: column;
    left: 245px;
    height: 100%;
    width: 996px;
    padding-left: 10px;
    overflow: hidden;
    border-left: 2px solid #333CA2;
}

.artigos .title{
    cursor: pointer;
    color: #1E2144;
    font-family: 'Montserrat';
    font-size: 19.007px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.artigos #noclick{
    cursor: auto;
    text-decoration: none;
}
.artigos .buttons{
    justify-content: space-between;
    display: flex;
    width: 500px;
    height: 30px;
    margin: 20px 0px;
}
.artigos .buttons button{
    margin-left: 10px;
    cursor: pointer;
    gap: 10px;
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    transition: 0.2s;
    color: #1E2144;
    font-family: Montserrat;
    font-size: 13.6px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: none;
    border: none;
}
.artigos .buttons button:hover{
    scale: 1.05;
}
.artigos #subtitle{
    margin-top: 5px;
    color: #999;
    font-family: 'Montserrat';
    font-size: 14.134px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.artigos #desc{
    margin-top: 5px;
    color: #1E2144;
    font-family: Montserrat;
    font-size: 14.049px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.artigos li{
    border-bottom: 2px solid #D9D9D9;
    width: 100%;
    margin: 10px 0px;

}
.artigos ul{
    padding: 0;
    margin: 0;
}
.artigos #res{
    margin-bottom: 50px;
    color: #1E2144;
    font-family: Montserrat;
    font-size: 19.007px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}