header{
    height: 132px;
}

.menu-items{
    margin-top: 34px;
    width: 1500px;
}

section button.btn-input2{
    padding-left: 20px;
    cursor: pointer;
    background-color: var(--color-gray-white);
    display: flex;
    margin-top: -70px;
    align-items: center;
    gap: 20px;
    border: none;
    border-radius: 57px;
    height: 39px;
    width: 730px;
    z-index: 1;
}



button.btn-input2 input{
    font-family: 'Montserrat';
    color: #999999;
    border: none;
    background: none;
    margin-top: 5px;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.btn-input2 img{
    margin: 0;
    scale: 0.8;
}

input:focus {
    outline: none;
    border: none;
}

input::placeholder {
    padding-left: -10px;
    padding-top: 20px;
    color: #999999;
    font-size: 20px;
    font-weight: 700;
}


section .input-pesquisa p span{
    cursor: pointer;
    color: var(--color-black);
}

.sugestions{
    display: none;
}