/* Estilização Geral */

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-white:#D9D9D9;
    --color-gray:#999999;
}

/* Header */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100%;
}
/*
Usado para alinhar a página
.alinhamento{
    background: none;
    width: 63%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

header{
    position: relative;
    width: 100vw;
    height: 470px;
    background: #EFDDD3;
    justify-content: center;
    
}

.rainbow{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/image/rainbow.png) repeat-x;
}

header .menu{
    display: flex;
    justify-content: center;
    bottom: 0px;
}

header .menu img{
    position: absolute;
    bottom: 0;
} 

header .menu .logo{
    position: relative;
}

header .menu .menu-login{
    color: #000000;
}
.menu-login a{
    font-family: 'Montserrat';
    font-size: 14.47px;
    font-weight: 600;
    color: rgb(43, 42, 42);
    margin: 15px;
}

/* Estilizando sessão de pesquisa */

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .input-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section button.btn-input{
    cursor: pointer;
    background-color: var(--color-gray-white);
    display: flex;
    padding: 20px;
    margin-top: -41px;
    align-items: center;
    gap: 20px;
    border: none;
    border-radius: 57px;
    width: 705px;
    height: 82px;
    z-index: 1;
}
.btn-input img{
    scale: 1.1;
    margin-left: 15px;
}

.menu-items{
    margin-top: 20px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.btn-input input{
    font-family: 'Montserrat';
    color: #999999;
    border: none;
    background: none;
    margin-top: 5px;
    outline: none;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

input:focus {
    outline: none;
    border: none;
}

input::placeholder {
    padding-top: 20px;
    color: #999999;
    font-size: 21px;
    font-weight: 700;
}


section .input-pesquisa p span{
    cursor: pointer;
    color: var(--color-black);
}

/* Estilizando a divisão da sessão */

 .divisao-section{
    width: 100%;
    height: 100px;
    background-color: var(--color-white);
    margin-bottom: 30px;
}

/* Estilizando a sessão cadastro */

section .section-cadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    width: 1190px;
    height: 100%;
}

#title{
    font-weight: bold;
    font-size: 38px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing:auto;
    font-weight: 800;
}
#subtitle{
    font-size: 20px;
    margin-top: 20px;
}

.content-text{
    margin-top: -140px;
}
.sugestions{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 15px;
    width: 600px;
    margin-top: 10px;
    color: var(--color-gray);
}
.sugestions span{
    margin-left: 20px;
}
#cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: #1E2142;
    width: 100%;
    height: 369px;
    margin-top: 60px;
}

section .formulario{
    background-color: #333CA2;
    width: 541px;
    height:490px;
    padding: 20px 20px;
    margin-top: 120px;
    border-radius: 0 0 50px 50px;
}

.formulario #title{
    font-size: 20px;
}
.formulario .reg-form{
    margin: 50px 20px;
}

.formulario #confirm{
    margin-top: 20px;
    background-color: #1E2142;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    width: 35%;
    height: 47px;
    font-size: 20px;
    color: var(--color-white);
    font-weight: 900;
}

.data-inputs{
    margin-top: 20px;
    display: flex;
    width: 80%;
    height: 43px;
}
.data-inputs input{
    margin-right: 20px;
    background-color: var(--color-white);
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 16px;
    width: 98px;
    height: 43px;
    font-size: 20px;
    text-align: center;
    color: #333CA2;
    font-weight: 900;
    text-decoration: none;
}

img {
    pointer-events: none;
}

.data-inputs input::placeholder{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #333CA2;
}
.form-inputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 219px;
}
.form-inputs input{
    margin-top: 20px;
    background-color: var(--color-white);
    display: flex;
    padding: 10px 30px;
    border: none;
    border-radius: 16px;
    width: 95%;
    height: 63px;
    font-size: 20px;
    color: #333CA2;
    font-weight: 900;
}
.form-inputs input::placeholder{
    font-weight: 700;
    font-size: 20px;
    color: #333CA2;
}

/* Estilizando o footer */

.footer {
	background-color: #001a30;
	color: #fff;
	padding: 20px;
	text-align: center;
    bottom: 0;
}

ul {
	list-style: none;
	padding: 50px;
	margin: 5px;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}