<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
</head>


<header>       
        <div class="rainbow"><img src="./assets/image/rainbow.png" id="rainbow"></div>
            <div class="menu">
                <div class="menu-items">
                    <a href="/"><img class="logo" src="./assets/image/logo-capes-periodicos.png" alt="periodicos"></a>
                    <div class="menu-login">
                        <a href="#" id="createAccount">Criar Conta</a>
                        <a href="#" id="Login">Login</a>
                    </div> 
                </div>
            </div>
</header>

    <main>

        <section>
            <div class="input-pesquisa">
                <button class="btn-input2"><img src="./assets/image/Loupe.png"> <input type="text" placeholder="{{pesquisa}}" id="searchInput"> </button>
                <div class="cont-suggestions"><ul id="suggestions" class="suggestions-list"></ul></div>
                <p class="sugestions">Tente por: <span>Peter Jandi Junior</span><span>IFPB</span><span>Medicina</span></p>
            </div>
        </section>


        <section id="mostrarObras">
            <h2 id="title">Mostrar obras:</h2>
            <div class="contain-text"></div>
        </section>

        <section id="Estatisticas">
            <div class="contain-est"></div>
        </section>
    </div>
    </main>

</div>

<script src="./js/script.js" defer></script>

</html>